{% extends "base_generic.html" %}

{% block title %}Projects{% endblock %}

{% block content %}
  <h2>Your Projects</h2>
  <ul>
    {% for project in owned_projects %}
      <li><a href="{% url 'project_detail' project.id %}">{{ project.name }}</a></li>
    {% empty %}
      <li>No projects available.</li>
    {% endfor %}
  </ul>

  <h2>Participated Projects</h2>
  <ul>
    {% for project in participated_projects %}
      <li><a href="{% url 'project_detail' project.id %}">{{ project.name }}</a></li>
    {% empty %}
      <li>No projects available.</li>
    {% endfor %}
  </ul>

  <!-- Додати кнопку для створення нового проекту -->
  <a href="{% url 'project_create' %}">
    <button type="button">Create New Project</button>
  </a>
{% endblock %}
