{% extends "base_generic.html" %}

{% block title %}Create Task{% endblock %}

{% block content %}
  <h2>Create Task for {{ project.name }}</h2>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Save</button>
  </form>

  <!-- Відображення повідомлень -->
  {% if messages %}
    <ul class="messages">
      {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
      {% endfor %}
    </ul>
  {% endif %}
{% endblock %}
